body {
  min-height: 100vh;
  /* background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */
  /* background: rgb(197, 240, 220);
  background: linear-gradient(
    128deg,
    rgba(197, 240, 220, 0.9332107843137255) 28%,
    rgba(33, 82, 80, 1) 71%,
    rgba(230, 63, 66, 1) 100%
  ); */
  background: rgb(197, 240, 220);
  background: linear-gradient(
    128deg,
    rgba(197, 240, 220, 0.8211659663865546) 28%,
    rgba(33, 82, 80, 0.9556197478991597) 53%,
    rgba(62, 144, 172, 0.7931547619047619) 67%,
    rgba(230, 63, 66, 0.6615021008403361) 96%
  );
}
.jumbotron {
  background-color: #ffffffde !important;
  border-radius: 20px !important;
}

a {
  color: rgb(44, 41, 41) !important;
}

ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
.img-thumbnail {
  width: 70%;
  height: 70%;
}
